The demand for a product or service is the quantity of that product or service the customers are willing to purchase at any given price during a particular period.And the supply for a product or service is the quantity the producers are willing to provide in the market at a particular price and a particular period.

For the task of Demand and supply analysis, we need a dataset based on demand for a product or service and supply for a product or service.I found an ideal dataset or this, which is based on the demand for cab rides at a given time and the availability of drivers at a given time.

In [3]:
import pandas as pd
import os
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_white"

In [5]:
directory = os.getcwd();
data_read = pd.read_csv('rides.csv')
data_read

      Drivers Active Per Hour  Riders Active Per Hour  Rides Completed
0                          72                     295            202.0
1                          50                      78             43.0
2                          40                     250            181.0
3                          78                     140            124.0
4                          74                     195            108.0
...                       ...                     ...              ...
1094                       55                     170            144.0
1095                       99                     141            117.0
1096                       43                      82             64.0
1097                       35                     127             90.0
1098                       32                      81             60.0

[1099 rows x 3 columns]